<!DOCTYPE html>

<html>

<head>
  <title>Semantic Tweets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="page">
	<div id="header">
			<h1><a href="#">SEMANTIC TWEETS</a></h1>
			<div class="description">Hackbulgaria Semantic Tweets</div>
	</div>
	
	<div id="menulinks">
		<a class="active" href="#">Home</a>
		<a href="tweets/new">Update Tweets</a>
		<a href="#">Hide Negative</a>
		<a href="#">Contact Us</a>
	</div>
	
<div id="mainarea">
	<div id="contentarea">
		<h2>WELCOME</h2>

<%= yield %>

</div></div>
<div id="footer">
		There is <%= Tweet.get_tweets.count() %> tweets stored locally, press update tweets to sync with twitter API.
	</div>
	
</body>
</html>
