<!DOCTYPE html>

<html>

<head>
  <title>Semantic Tweets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="page">
	<div id="header">
			<h1><a href="#">SEMANTIC TWEETS</a></h1>
			<div class="description">Hackbulgaria Semantic Tweets Week6 Task</div>
	</div>
	
	<div id="menulinks">
		<%= link_to 'Home', '/', :class => is_active?("index") %>
		<%= link_to "Update Tweets", { controller: "tweets", action: "new" }, :class => is_active?("new") %>
		<%= link_to "Analize Tweets", { controller: "tweets", action: "analize" }, 
		    :class => is_active?("analize") %>
		<a href="#">Contact Us</a>
	</div>
	
<div id="mainarea">
	<div id="contentarea">
		<h2>See what we mean below ;-) </h2><br>

<%= yield %>

</div></div>
<div id="footer">
		There is <%= Tweet.get_tweets.count() %> tweets stored locally, press update tweets to sync with twitter API.
	</div>
	
</body>
</html>
