<h2>Yo've searched the blog posts for: <%= "#{stag}" %></h2>
<table width="90%">
<% posts.execute( "SELECT * FROM myposts WHERE post LIKE ?", '%' + stag + '%' ) do |row| %><tr>
  <td width="50"><a href="/<%= row[0] %>">[ <%= row[0] %> ]</a></td>
  <td><%= row[1] %></td>
  <td><%= row[2] %></td></tr>
<% end %>
</table>
